@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

body {
	font-family: Arial;
	background-size: cover;
  	padding: 20px 150px 20px 150px;
	background-image: url("../img/background.jpg");
}

/* Header/Blog Title */
#logo-left{
	float: left;
	padding-left: 40px;
}
#logo-right{
	float: right;
	padding-right: 40px;
}
.clearfix{overflow: auto;}
.header {  
  	text-align: center;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header h2 {
	font-family: 'Mansalva', cursive;
  	font-size: 50px;
  	color: black;
}
.header p {
	font-family: 'Permanent Marker', cursive;
  	font-size: 30px;
  	color: black;
}
/* Header/Blog Title */

/*Slider*/
#carouselExampleIndicators{text-align: center;}
#slider{
	background-color: white;
}
/*Slider*/

/*Navbar*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
nav li {
    float: left;
    padding: 10px;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
/*Navbar*/

/*Main*/
.main {
	background-color: dimgrey;
	padding: 50px 20px 50px 20px;
}
.main img{
	height: 128px;
	width: auto;
}
/*Main*/

/*motorbikes*/
#motorbikes{
	padding-top: 20px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
#motorbikes img{
	width: 450px;
	height: auto;
}
table {
  	font-family: arial, sans-serif;
  	border-collapse: collapse;
  	width: 50%;
	border: 2px solid black;
}
td, th {
  text-align: center;
}
tr:nth-child(even) {
  background-color: beige;
}
/*motorbikes*/

/* Footer */
.footer {
  	padding: inherit;
  	text-align: center;
  	background: black;
}
.footer h2{

    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 30px;
}
.footer p {
	color: white;
}
/* Footer */