@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

body {
    font-family: Arial;
    background-size: cover;
    margin: 20px 167px 20px 150px;
    padding: 2px;
    background-image: url("../../img/background.jpg");/..
}

/* Header/Blog Title */
#logo-left{
    float: left;
    padding-left: 40px;
}
#logo-right{
    float: right;
    padding-right: 40px;
}
.clearfix{overflow: auto;}
.header {
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header h2 {
    font-family: 'Mansalva', cursive;
    font-size: 50px;
    color: black;
}
.header p {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: black;
}
/* Header/Blog Title */

/*Slider*/
#carouselExampleIndicators{text-align: center;}
#slider{
    background-color: white;
}
/*Slider*/

/*Navbar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
nav li {
    float: left;
    padding: 10px;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
/*Navbar*/


/*droplist*/
.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 25%;
}

.content {
    width: 75%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
}

.menu li:hover {
    background-color: #0099cc;
}
/*droplist*/

/*Main*/
.main{
}
/*Main*/

/* Footer */
.footer {
    padding: inherit;
    text-align: center;
    background: black;
}
.footer h2{

    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 30px;
}
.footer p {
    color: white;
}
/* Footer */